:root {
    --bg-sidebar: #5B94FE;
    --bg-btn-active: #1A56DB;
    --bg-btn-inactive: #3B72DC;
    --bg-header: #5B94FE;
    --border-blue-custom: #3B82F6;
}


.bg-sidebar {
    background-color: var(--bg-sidebar);
}

.bg-btn-active {
    background-color: var(--bg-btn-active);
}

.bg-btn-inactive {
    background-color: var(--bg-btn-inactive);
}

.bg-header {
    background-color: var(--bg-header);
}

.border-blue-custom {
    border-color: var(--border-blue-custom);
}