body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
}
.logo{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 20%;
    height: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;    
    font-weight: bold;
    font-size: 15px;
}
.login1:hover{
    background-color: rgba(128, 128, 128, 0.475);
}
.login{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 16%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.login1{
    background-color: rgba(169, 160, 160, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 110px;
    height: 42px;
    border-radius: 20px;
    font-weight:lighter;
}
.container1{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.sidebar{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1px;
}
.btn{
    width: 200px;
    height: 43px;
    font-size: large;
    font-weight:bold;
    border: solid rgba(0, 0, 0, 0) 0px;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(169, 160, 160, 0.308);
}

.container3{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 2px;
}

.homestats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    border: solid black 1px;
    gap: 5px;
}
.homehist{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    height: 40%;
    border: solid black 1px;
    
}
.homestat1{
    width: 49%;
    height: 98%;
    border: solid black 1px;
    
}
.homestat2{
    width: 49%;
    height: 98%;
    border: solid black 1px;
    
}

